# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# nonmem example files must have LF endings, even on Windows
examples/nonmem/files/* text eol=lf

# funcx script must have LF endings too
rjm/setup/funcx-endpoint-persist-nesi.sh text eol=lf
